<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jandroid.cnbeta"
          android:versionCode="2"
          android:versionName="@string/app_version_name">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="CnBetaApplication"
            android:theme="@style/Theme.CnBeta"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <!--for test case -->
        <!--<uses-library android:name="android.test.runner"/>-->

        <activity
                android:name=".SplashActivity"
                android:launchMode="singleTask"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask">
        </activity>
        <activity
                android:name=".TypesActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"/>
        <activity
                android:name=".MRankActivity"
                android:label="@string/ranks"
                android:launchMode="singleTask"
                />
        <activity
                android:name=".TopicActivity"
                android:label="@string/label_topic"
                android:launchMode="singleTask"
                />
        <activity
                android:name=".ContentActivity"
                android:label="@string/label_article_content"
                android:hardwareAccelerated="true"/>
        <activity
                android:name=".HistoryActivity"
                android:label="@string/label_history"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ImageViewerActivity"
                android:launchMode="singleTask"
                android:theme="@style/Dialog.NoTitle"
                android:hardwareAccelerated="true"
                />
        <!--android:launchMode="singleTask" startActivityForResult不能是 singleTask singleInstance-->
        <activity
                android:name=".PublishCommentActivity"
                android:theme="@style/Dialog.NoTitle"
                />
        <!--android:launchMode="singleTask" startActivityForResult不能是 singleTask singleInstance-->
        <activity
                android:name=".ReplyCommentActivity"
                android:theme="@style/Dialog.NoTitle"
                />

        <activity
                android:name=".CnBetaPreferenceActivity"
                android:label="参数设置">
        </activity>

        <activity
                android:name=".AboutActivity"
                android:label="关于">
        </activity>

    </application>

    <!--for test case-->
<!--
    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="org.jandroid.cnbeta"
            android:label="TestCases"/>
-->

</manifest>
